:root {
    --red-rgb: 248 113 113;
    --blue-rgb: 56 189 248;
    --green-rgb: 74 222 128;
    --yellow-rgb: 253 224 71;

    --background-rgb: 255 255 255;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

main[data-barba-namespace="about"] {
    #section1 {
        height: 100svh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(var(--background-rgb));
        overflow: hidden;
        perspective: 2000px;

        #tiles {
            width: 140rem;
            aspect-ratio: 1;
            display: grid;
            grid-template-rows: repeat(40, 1fr);
            grid-template-columns: repeat(40, 1fr);
            position: absolute;
            transform: rotateX(50deg) rotateY(-5deg) rotateZ(20deg) scale(1.25);
        }

        #tiles:after,
        #tiles:before {
            content: "";
            position: absolute;
            inset: 0px;
            pointer-events: none;
        }

        #tiles:before {
            z-index: 2;
            background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
            background-size: 5%;
            background-repeat: repeat;
            opacity: 0.25;
        }

        #tiles:after {
            z-index: 3;
            background: radial-gradient(circle, transparent 25%, rgb(var(--background-rgb)) 80%);
        }

        .tile {
            border: 1px solid #e9ebed;
            transition: background-color 1500ms;
        }

        .tile:hover {
            transition-duration: 0ms;
        }

        .tile:nth-child(4n):hover {
            background-color: rgb(var(--red-rgb));
        }

        .tile:nth-child(4n + 1):hover {
            background-color: rgb(var(--blue-rgb));
        }

        .tile:nth-child(4n + 2):hover {
            background-color: rgb(var(--green-rgb));
        }

        .tile:nth-child(4n + 3):hover {
            background-color: rgb(var(--yellow-rgb));
        }

        .tile:nth-child(7n):hover {
            background-color: rgb(var(--blue-rgb));
        }

        .tile:nth-child(7n + 3):hover {
            background-color: rgb(var(--green-rgb));
        }

        .tile:nth-child(7n + 5):hover {
            background-color: rgb(var(--yellow-rgb));
        }

        .tile:nth-child(7n + 6):hover {
            background-color: rgb(var(--red-rgb));
        }

        .tile:nth-child(11n + 1):hover {
            background-color: rgb(var(--red-rgb));
        }

        .tile:nth-child(11n + 4):hover {
            background-color: rgb(var(--blue-rgb));
        }

        .tile:nth-child(11n + 7):hover {
            background-color: rgb(var(--green-rgb));
        }

        .tile:nth-child(11n + 10):hover {
            background-color: rgb(var(--yellow-rgb));
        }

        .hero {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            place-content: center;
            pointer-events: none;
        }

        h3 {
            margin-bottom: 15px;
            font-size: 28px;
            font-family: "Recoleta", sans-serif;
            text-align: center;
        }

        h1 {
            font-size: 70px;
            font-family: "Sora", sans-serif;
            text-align: center;
            line-height: 1.2;
            font-weight: 600;
        }
    }

    .marquee {
        padding: 10px 0;
        display: flex;
        --gap: 30px;
        gap: var(--gap);
        background-color: #C5FF4A;
        overflow: hidden;

        ul {
            list-style: none;
            flex-shrink: 0;
            min-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--gap);

            animation: scroll 20s linear infinite;

            li {
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-image: url(/assets/icon/star.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: 30px;
                }

                span {
                    margin-top: 5px;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-family: "Recoleta", sans-serif;
                }
            }
        }

        &:hover ul {
            animation-play-state: paused;
        }
    }

    #section2 {
        margin: 0 auto;
        max-width: 1296px;
        padding: 130px 2rem 150px;

        h2 {
            font-family: "Coolvetica";
            font-size: 60px;
            text-align: center;
            letter-spacing: 1px;
            line-height: 1.3;
        }

        .info {
            padding-top: 40px;
            font-family: "Sora";
            font-size: 20px;
        }

        .process__container {
            padding-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .process__card {
                .process__step {
                    position: relative;
                    border-bottom: 2px solid #000;
                    padding-bottom: 22px;
                    font-family: "Sora";
                    font-size: 16px;
                    font-weight: bolder;

                    &::after {
                        content: "";
                        position: absolute;
                        left: -4px;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background: #000;
                        bottom: 0;
                        transform: translate(0px, 50%);
                        border: 4px solid #FFF;
                    }
                }

                h4 {
                    margin: 30px 0 10px 0;
                    font-family: "Sora";
                    font-size: 25px;
                    font-weight: bolder;
                }

                p {
                    max-width: 330px;
                    font-family: "Lato";
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        #section1 h1 {
            font-size: 35px;
        }

        .marquee {
            ul {
                li {
                    &::before {
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        font-size: 40px;
                    }
                }
            }
        }

        #section2 {
            padding: 130px 1rem 150px;

            h2 {
                font-size: 35px;
            }

            .process__container {
                grid-template-columns: unset;

                .process__card {
                    margin-bottom: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    p {
                        max-width: 100%;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}