@font-face {
    font-family: "Barracuda";
    src: url(/assets/fonts/Barracuda-Regular.ttf);
}

@font-face {
    font-family: "Neue Montreal";
    src: url(/assets/fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: "PP Editorial Old";
    src: url(/assets/fonts/PPEditorialOld-Regular.otf);
}

@font-face {
    font-family: "Bridge Head Con Medium";
    src: url(/assets/fonts/BridgeHeadCon-Medium.ttf);
}

@font-face {
    font-family: "Bigilla";
    src: url(/assets/fonts/Bigilla.otf);
}

@font-face {
    font-family: "Coolvetica";
    src: url(/assets/fonts/Coolvetica-Regular.otf);
}

@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins.ttf);
}

@font-face {
    font-family: "Recoleta";
    src: url(/assets/fonts/Recoleta.otf);
}

@font-face {
    font-family: "Sora";
    src: url(/assets/fonts/Sora.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    cursor: url("/assets/cursor/default-dark.png"), default;
    overscroll-behavior-y: none;
}

main {
    position: relative;
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms ease-in;
}

a {
    cursor: url("/assets/cursor/pointer-dark.png"), default;
    color: inherit;
    text-decoration: none;
}

button {
    color: inherit;
    border: inherit;
    background: none;
    cursor: url("/assets/cursor/pointer-dark.png"), default;
    font-family: inherit;
}

input {
    cursor: url("/assets/cursor/edit-dark.png"), default;
}

.logo {
    position: fixed;
    z-index: -1;
    top: 2rem;
    left: 2rem;
    color: #000;
    font-size: 30px;
    font-family: "Recoleta";
    font-weight: 600;
    opacity: 0;
    transition: opacity 200ms ease-in;
    cursor: url("/assets/cursor/pointer-dark.png"), default;
}

@media screen and (max-width: 900px) {
    .logo {
        top: 1rem;
        left: 1rem;
    }
}