@font-face {
    font-family: "Barracuda";
    src: url(/fonts/Barracuda-Regular.ttf);
}

@font-face {
    font-family: "Neue Montreal";
    src: url(/fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: "PP Editorial Old";
    src: url(/fonts/PPEditorialOld-Regular.otf);
}

@font-face {
    font-family: "Bridge Head Con Medium";
    src: url(/fonts/BridgeHeadCon-Medium.ttf);
}

@font-face {
    font-family: "Bigilla";
    src: url(/fonts/Bigilla.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overscroll-behavior-y: none;
}

a {
    text-decoration: none;
}

button {
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}