#loader-container {
    display: none;
}

.pre-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: 3;
}

.loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: #C5FF4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-content {
    position: fixed;
    z-index: 3;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    width: 400px;
    color: #000;
}

.titles {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100dvh;
}

.titles>div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.titles span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 15vw;
    font-family: "Barracuda", sans-serif;
    color: #000;
}

.count {
    padding: 0 1em;
    flex: 2;
    font-family: "Recoleta", sans-serif;
    text-align: right;
}

.copy {
    flex: 3;
    font-family: "Gallery Modern", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
}

.ml16 {
    overflow: hidden;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.loader-bg {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: #C5FF4A;
    z-index: -1;
}

.brand {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #FFF;
}

.header {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    display: flex;
    justify-content: center;
    padding: 8em;
}

.header span {
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 20vw;
    font-family: "Utendo", sans-serif;
    /* font-family: "Gallery Modern", sans-serif; */
    /* font-weight: 600; */
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 4em;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 2em;
    }
}