header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__button {
    position: absolute;
    z-index: -1;
    opacity: 0;
    right: 2rem;
    top: 2rem;
    font-size: 30px;
    font-family: "Bridge Head Con Medium";
}

.header__button[data-open="false"] {
    transition: background-color 250ms linear;
}

.header__nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    background-color: #C6E421;
    overflow: hidden;
}

.header__nav[data-active="true"] {
    visibility: visible;
}

.header__menu {
    width: 50%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.header__menu .header__menu-item {
    font-size: 90px;
    font-family: "Bridge Head Con Medium";
}

.header__menu .header__menu-item a span {
    font-family: "Bigilla";
    font-size: 24px;
}

.contact .about {
    font-size: 80px;
}

.contact .info {
    font-family: Helvetica, sans-serif;
}

.mail {
    margin-bottom: 60px;
}

.header__menu-item a {
    font-weight: 300;
    color: #000;
}

@media screen and (max-width: 900px) {
    .header__button {
        right: 1rem;
        top: 1rem;
    }

    .header__menu>.header__menu-item {
        font-size: 70px;
    }

    .header__menu:first-child {
        width: 100%;
    }

    .header__menu:last-child {
        display: none;
    }
}