.menu {
    display: none;
}

#menu-container .menu {
    display: flex;
    font-family: "Bridge Head Con Medium";
}

.menu-left,
.menu-right {
    position: fixed;
    z-index: 2;
    width: 50%;
    height: 100vh;
    background-color: #0F0F0F;
    color: #FFF;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.menu-left {
    left: -100%;
}

.menu-right {
    right: -100%;
}

.menu-link a {
    text-decoration: none;
    color: #FFF;
    font-size: 90px;
}

.menu-link a span {
    font-family: "Bigilla";
    font-size: 24px;
}

.contact .about {
    font-size: 80px;
}

.contact .info {
    font-family: Helvetica, sans-serif;
}

.mail {
    margin-bottom: 60px;
}

.menu-open,
.menu-close {
    z-index: 2;
    top: 2rem;
    right: 2rem;
    font-size: 30px;
    font-family: "Bridge Head Con Medium";
}

.menu-left .menu-close {
    display: none;
}

.menu-open {
    position: fixed;
}

.menu-close {
    position: absolute;
}

@media screen and (max-width: 900px) {
    .menu-left {
        width: 100%;
        left: unset;
        right: -100%;
    }

    .menu-right {
        display: none;
    }

    .menu-link a {
        font-size: 70px;
    }

    .menu-open,
    .menu-close {
        top: 1rem;
        right: 1rem;
    }

    .menu-left .menu-close {
        display: block;
    }
}