@keyframes marquee {
    0% {
        left: 0%;
    }

    50% {
        left: -100%;
    }

    50.5% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

main[data-barba-namespace="team"] {
    width: 100%;
    height: 100dvh;
    font-family: "Neue Montreal", sans-serif;
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .marquee-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    .marquee-wrapper.t-1 {
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    }

    .marquee-wrapper h1 {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        white-space: nowrap;
        font-size: 240px;
        text-transform: uppercase;
        font-weight: 400;
        animation: marquee 60s linear infinite;
    }

    .modal {
        width: 450px;
        height: 650px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-images {
        width: 100%;
        height: 550px;
    }

    .team {
        position: absolute;
        width: 100%;
        height: 550px;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    .team#t-1 {
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    }

    .team img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        margin-top: 24px;
    }

    .info h2 {
        font-size: 20px;
    }

    .role {
        margin: 5px 0;
    }

    .t-1 {
        background-color: #FFF;
    }

    .t-2 {
        background-color: #C8C8C8;
    }

    .t-3 {
        background-color: #B8B8B8;
    }

    .switch {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .switch button {
        width: fit-content;
        visibility: visible;
        pointer-events: auto;
    }

    .switch button:last-child {
        margin-left: auto;
    }

    .switch button.hidden {
        visibility: hidden;
        pointer-events: none;
    }

    .switch i {
        font-size: 30px;
    }

    @media screen and (max-width: 900px) {
        .marquee-wrapper h1 {
            animation: marquee 30s linear infinite;
        }

        .modal {
            width: 350px;
            height: 550px;
        }

        .modal-images {
            width: 100%;
            height: 450px;

        }

        .team {
            width: 100%;
            height: 450px;
        }
    }

    @media screen and (max-width: 480px) {
        .modal {
            width: 250px;
            height: 450px;
        }

        .modal-images {
            width: 100%;
            height: 350px;

        }

        .team {
            width: 100%;
            height: 350px;
        }
    }
}